<?xml version="1.0" ?>
<!--
/**
 * A Magento 2 module named Imob/Gst
 * Copyright (C) 2020 iMob Technologies. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<gst>
			<general>
				<enabled/>
				<gstin/>
				<cin/>
				<pan/>
				<cal_type/>
				<origin/>
				<gstin_pdf/>
			</general>
		</gst>
	</default>
</config>
